## **Session 5** 




![0090.jpg]()

Welcome to the Notebook for Session 5 in Google Colab!

# **OPERATORS**

# Evaluating expressions: simple operators

We can use Python like a calculator. Consider the simple expression $3 + 8$. We can evaluate and print this by:

In [ ]:
3 + 8

11

Another simple calculation is the gravitational potential $V$ of a body of mass $m$ (point mass) at a distance $r$ from a body of mass $M$, which is given by

$$
V = \frac{G M m}{r}
$$

where $G$ is the *gravitational constant*. A good approximation is $G = 6.674 \times 10^{-11}$ N m$^{2}$ kg$^{-2}$.

For the case $M = 1.65 \times 10^{12}$ kg, $m = 6.1 \times 10^2$ kg and $r = 7.0 \times 10^3$ m, we can compute the  gravitational potential $V$:

In [ ]:
6.674e-11*1.65e12*6.1e2/7.0e3

9.59625857142857

We have used 'scientific notation' to input the values. For example, the number $8 \times 10^{-2}$ can be input as `0.08` or `8e-2`. We can easily verify that the two are the same via subtraction:

In [ ]:
0.08 - 8e-2

0.0

A common operation is raising a number to a power. To compute $3^4$:

In [ ]:
3**4

81

A normal division

In [ ]:
11/3

3.6666666666666665

The remainder is computed using the modulus operator '`%`':

In [ ]:
11 % 3

2

To get the quotient we use 'floor division', which uses the symbol '`//`':

In [ ]:
11 // 3

3

# Operator precedence

Operator precedence refers to the order in which operations are performed, e.g. multiplication before addition.
In the preceding examples, there was no ambiguity as to the order of the operations. However, there are common cases where order does matter, and there are two points to consider:

- The expression should be evaluated correctly; and 
- The expression should be simple enough for someone else reading the code to understand what operation is being 
  performed.

It is possible to write code that is correct, but which might be very difficult for someone else (or you) to check.

Most programming languages, including Python, follow the usual mathematical rules for precedence. We explore this through some examples.

Consider the expression $4 \cdot (7 - 2) = 20$. If we are careless,

In [ ]:
4*7 - 2

26

In the above, `4*7` is evaluated first, then `2` is subtracted because multiplication (`*`) comes before subtraction (`-`) in terms of precedence. We can control the order of the operation using brackets, just as we would on paper:

In [ ]:
4*(7 - 2)

20

A common example where readability is a concern is 

$$
\frac{10}{2 \times 50} = 0.1
$$

The code

In [ ]:
10/2*50

250.0

is incorrect. The multiplication and division have the same precedence, so the expression is evaluated 'left-to-right'. The correct result is computed from

In [ ]:
10/2/50

0.1

but this is hard to read and could easily lead to errors in a program. I would recommend using brackets to make the order clear:

In [ ]:
10/(2*50)

0.1

Here is an example that computes $2^{3} \cdot 4 = 32$ which is technically correct but not ideal in terms of readability:

In [ ]:
2**3*4

32

Better would be:

In [ ]:
(2**3)*4

32

# **VARIABLES**

# Variables and assignment

The above code snippets were helpful for doing some arithmetic, but we could easily do the same with a pocket calculator. Also, the snippets are not very helpful if we want to change the value of one of the numbers in an expression, and not very helpful if we wanted to use the value of the expression in a subsequent computation. To improve things, we need *assignment*.

When we compute something, we usually want to store the result so that we can use it in subsequent computations. *Variables* are what we use to store something, e.g.:

In [ ]:
c = 10
print(c)

10

Above, the variable `c` is used to 'hold' the value `10`. The function `print` is used to print the value of a variable to the output (more on functions later).

Say we want to compute $c = a + b$, where $a = 2$ and $b = 11$:

In [ ]:
a = 2
b = 11
c = a + b
print(c)

13

What is happening above is that the expression on the right-hand side of the assignment operator '`=`' is evaluated and then stored as the variable on the left-hand side. You can think of the variable as a 'handle' for a value.
If we want to change the value of $a$ to $4$ and recompute the sum, we would just replace `a = 2` with `a = 4` and execute the code (try this yourself by running this notebook interactively).

The above looks much like standard algebra. There are however some subtle differences. Take for example:

In [ ]:
a = 2
b = 11
a = a + b
print(a)

13

This is not a valid algebraic statement since '`a`' appears on both sides of '`=`', but it is a very common statement in a computer program. What happens is that the expression on the right-hand side is evaluated (the values assigned to `a` and `b` are summed), and the result is assigned to the left-hand side (to the variable `a`). There is a mathematical notation for this type of assignment:

$$
a \leftarrow a +b 
$$

which says 'sum $a$ and $b$, and copy the result to $a$'. You will see this notation in some books, especially when looking at *algorithms*.

## Shortcuts

Adding or subtracting variables is such a common operation that most languages provides shortcuts. For addition:

In [ ]:
# Long-hand addition
a = 1
a = a + 4
print(a)

# Short-hand addition
a = 1
a += 4
print(a)

5
5

> In Python, any text following the hash (`#`) symbol is a 'comment'. Comments are not executed by the program; 
> they help us document and explain what our programs do. Use lots of comments in your programs.

For subtraction:

In [ ]:
# Long-hand subtraction
a = 1
b = 4
a = a - b
print(a)

# Short-hand subtraction
a = 1
b = 4
a -= b
print(a)

-3
-3

Analogous assignment operators exist for multiplication and division:

In [ ]:
# Long-hand multiplication
a = 10
c = 2
a = c*a
print(a)

# Short-hand multiplication
a = 10
c = 2
a *= c
print(a)

# Long-hand division
a = 1
a = a/4
print(a)

# Short-hand division
a = 1
a /= 4
print(a)

20
20
0.25
0.25

## Naming variables

It is good practice to use meaningful variable names in a computer program. Say you used  '`x`' for time, and '`t`' for position, you or someone else will almost certainly make errors at some point.
If you do not use well considered variable names:

1. You're much more likely to make errors.
1. When you come back to your program after some time, you will have trouble recalling and understanding 
   what the program does.
1. It will be difficult for others to understand your program - serious programming is almost always a team effort.

Languages have rules for what charcters can be used in variable names. As a rough guide, in Python variable names can use letters and digits, but cannot start with a digit.

Sometimes for readability it is useful to have variable names that are made up of two words. A convention is
to separate the words in the variable name using an underscore '`_`'. For example, a good variable name for storing the number of days would be 
```python
num_days = 10
```
Python is a case-sensitive language, e.g. the variables '`A`' and '`a`' are different. Some languages, such as
Fortran, are case-insensitive.

Languages have reserved keywords that cannot be used as variable names as they are used for other purposes. The reserved keywords in Python are:

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
and = 4

If you try to assign something to a reserved keyword, you will get an error.

Python 3 supports Unicode, which allows you to use a very wide range of symbols, including Greek characters:

In [ ]:
 = 10
 = 12
 =  + 
print()

22

# **CONTROL STATEMENTS**

# Introduction

Control statements allow a program to change what it does depending on input or other data.
Typical flows in a computer program involve structures like:

- if 'X' do task 'A', else if 'Y' do task 'B'
- perform the task 'A' 'N' times
- perform the task 'B' until 'X' is true

These flows are implemented using what are called 'control statements'. They are also known as branching - the path a program follows depends on the input data. Control statements are a major part of all non-trivial computer programs.


## Objectives

- Introduce comparison operators
- Learn to use control statements


## Example of a control statement in pseudo code

An electric window opener, attached to a rain sensor and a temperature 
gauge, might be controlled by the following program:

    if raining:  # If raining, close the window
        close_window()
    else if temperature > 26:  # If the temperature is over 26 deg, open window
        open_window()
    else if temperature < 19:  # If the temperature is below 19 deg, close window
        close_window()
    else:  # Otherwise, do nothing and leave window as it is
        pass

It is easy to imagine the program being made more sophisticated using the time of the day and the day of the week, or being attached to a smoke alarm.

We will look at different types of control statements, but first we need to introduce boolean types and comparison operators.

# Booleans

Last week we introduced this data type
A Boolean is a type of variable that can take on one of two values - true or false.

In [ ]:
a = True
print(a)

a = False
print(a)

True
False

Booleans are used extensively in control statements.

# Comparison operators

We often want to check in a program how two variables are related to each other, for example if one is less than the other, or if two variables are equal. We do this with 'comparison operators', such as `<`, `<=`, `>`, `>=` and `==`. 

Below is an example checking if a number `a` is less than or greater than a number `b`:

In [ ]:
a = 10.0
b = 9.9
print(a < b)
print(a > b)

False
True

Equality is checked using '`==`', and '`!=`' is used to test if two variables are not equal. Below are some examples to read through.

In [ ]:
a = 14
b = -9
c = 14

# Check if a is equal to b 
print("Is a equal to b?")
print(a == b)

# Check if a is equal to c 
print("Is a equal to c?")
print(a == c)

# Check if a is not equal to c 
print("Is a not equal to c?")
print(a != c)

# Check if a is less than or equal to b 
print("Is a less than or equal to b?")
print(a <= b)

# Check if a is less than or equal to c 
print("Is a less than or equal to c?")
print(a <= c)

# Check if two colours are the same
colour0 = 'blue'
colour1 = 'green'
print("Is colour0 the same as colour1?")
print(colour0 == colour1)

Is a equal to b?
False
Is a equal to c?
True
Is a not equal to c?
False
Is a less than or equal to b?
False
Is a less than or equal to c?
True
Is colour0 the same as colour1?
False

# Boolean operators

In the above we have only used one comparison at a time. Boolean operators allow us to 'string' together multiple checks using the operators '`and`', '`or`' and '`not`'.
The operators '`and`' and '`or`' take a boolean on either side, and the code
```python
X and Y
```
will evaluate to `True` if `X` *and* `Y` are both true, and otherwise will evaluate to `False`. The code
```python
X or Y
```
will evaluate to `True` if `X` *or* `Y` is true, and otherwise will evaluate to `False`.
Here are some examples:

In [ ]:
# If 10 < 9 (false) and 15 < 20 (true) -> false
print(10 < 9 and 15 < 20)

False

In [ ]:
# Check if 10 < 9 (false) or 15 < 20 (true) -> true
print(10 < 9 or 15 < 20)

True

The meaning of the statement becomes clear if read it left-to-right.

Below is a very simple example that, given the current time of day reports 

- true if it is lunch time; and 
- true if we are outside of working hours.

In [ ]:
time = 13.05  # The current time

work_starts = 8.00  # Start of working day 
work_ends = 17.00  # End of working day

lunch_starts = 13.00  # Start of lunchtime
lunch_ends = 14.00  # End of lunchtime

# Check if it's lunch time
print("Is it lunchtime?")
is_lunchtime = time >= lunch_starts and time < lunch_ends
print(is_lunchtime)

# Check if we're outside of working hours
print("Are we outside of working hours?")
outside_working_hours = time < work_starts or time >= work_ends
print(outside_working_hours)

Is it lunchtime?
True
Are we outside of working hours?
False

Note that the comparison operators (`>=`, `<=`, `<` and `>`) are evaluated before the Boolean operators (`and`, `or`).

In Python, the '`not`' operator negates a statement, e.g.:

In [ ]:
# Is 12 *not* less than 7 -> true
a = 12
b = 7
print(not a < b)

True

Only use '`not`' when it makes a program easy to read. For example,

In [ ]:
print(not 12 == 7)

True

is not good practice. Better is

In [ ]:
print(12 != 7)

True

## Multiple comparison operators

The examples so far use at most two comparison operators. In some cases we might want to perform more checks. We can control the order of evaluation using brackets. For example, if we want to check if a number is strictly between 100 and 200, or between 10 and 50:

In [ ]:
value = 150.5
print ((value > 100 and value < 200) or (value > 10 and value < 50))

True

The two checks in the brackets are evaluated first (each evaluates to `True` or `False`), and then the '`or`' checks if one of the two is true.

# Control statements

Now that we've covered comparison, we are ready to look at control statements. These are a central part of computing. Here is a control statement in pseudo code:

    if A is true
        Perform task X (only)
    else if B is true
        Perform task Y (only)
    else   
        Perform task Z (only)

The above is an 'if' statement. Another type of control statement is

    do task X 10 times
    
We make this concrete below with some examples.

## `if` statements

Below is a simple example that demonstrates the Python syntax for an if-else control statement. 
For a value assigned to a variable `x`, the program prints a message and modifies `x`.
The message and the modification of `x` depend on the initial value of `x`:

In [ ]:
x = 10  # Initial x value

if x > 0.0:  
    print('Initial x is greater than zero')
    x -= 20.0
elif x < 0.0:  
    print('Initial x is less than zero')
    x += 21.0
else: 
    print('Initial x is not less than zero and not greater than zero, therefore it must be zero')
    x *= 2.5

# Print new x value
print("New x value:", x)

Initial x is greater than zero
New x value: -10.0

Try changing the value of `x` and re-running the cell to see the different paths the code can follow.

We now dissect the control statement example. The control statement begins with an `if`, followed by the expression to check, followed by '`:`'
```python
if x > 0.0:
```
Below that is a block of code, indented by four spaces, that is executed if the check (`x > 0.0`) is true:
````python
    print('Initial x is greater than zero')
    x -= 20.0
````
and in which case the program will then move beyond the end of the control statement. If the check evaluates to false, then the `elif` (else if) check  
```python
elif x < 0.0:
    print('Initial x is less than zero')
    x += 21.0
```      
is performed, and if true '`print('x is less than zero')`' is executed and the control block is exited. The code following the `else` statement is executed
```python
else:
    print('Initial x is not less than zero and not greater than zero, therefore it must be zero')
```
if none of the preceding statements were true.

### Example: currency trading

A currency trader makes a commission by selling US dollars to travellers at a rate below the market rate. The mark-down multiplier they apply is show below.  

|Amount (GBP)                                |reduction on market rate |
|--------------------------------------------|-------------------------|
| Less than $100$                            | 0.9                     |   
| From $100$ and less than $1,000$           | 0.925                   |   
| From $1,000$ and less than $10,000$        | 0.95                    |   
| From $10,000$ and less than $100,000$      | 0.97                    |   
| Over $100,000$                             | 0.98                    |   

The currency trader incurs extra costs for handling cash over electronic transactions, so for cash transactions they retain an extra 10% after conversion. 

At the current market rate 1 GBP is 1.33153 USD.

In [ ]:
GBP  = 300.05  # The amount in GBP to be changed into USD
cash = False  # True if selling cash, otherwise False

market_rate = 1.33153  # 1 GBP is worth this many dollars at the market rate

# Apply the appropriate reduction depending on the amount being sold
if GBP < 100:
    USD = 0.9*market_rate*GBP
elif GBP < 1000:  
    USD = 0.925*market_rate*GBP
elif GBP < 10000:
    USD = 0.95*market_rate*GBP
elif GBP < 100000:
    USD = 0.97*market_rate*GBP
else:
    USD = 0.98*market_rate*GBP

if cash:
    USD *= 0.9  # recall that this is shorthand for USD = 0.9*USD 
    
print("Amount in GBP sold:", GBP)
print("Amount in USD purchased:", USD)
print("Effective rate:", USD/GBP)

Amount in GBP sold: 300.05
Amount in USD purchased: 369.56115826250004
Effective rate: 1.23166525

## `for` loops

A `for` loop is a block that repeats an operation a specified number of times (loops). The concept is rich, but we start with the simplest and most common usage:

In [ ]:
for n in range(4):
    print("----")
    print(n, n**2)

----
0 0
----
1 1
----
2 4
----
3 9

The above executes 4 loops, over the integers 0, 1, 2 and 3. The statement 
```python
for n in range(4):
```
says that we want to loop over four integers, and by default it starts from zero
(see https://docs.python.org/3/library/stdtypes.html#range for the documentation for `range`). 
The value of `n` is incremented in each loop iteration. The code we want to execute inside the loop is indented four spaces: 
```python
    print("----")
    print(n, n**2)
```
The loop starts from zero and does not include 4 - `range(4)` is a shortcut for `range(0, 4)`. We can change the starting value if we need to:

In [ ]:
for i in range(-2, 3):
    print(i)

-2
-1
0
1
2

The loop starts at -2, but does not include 3. If we want to step by three rather than one:

In [ ]:
for n in range(0, 10, 3):
    print(n)

0
3
6
9

### Example: conversion table from degrees Fahrenheit to degrees Celsius

We can use a `for` loop to create a conversion table from degrees Fahrenheit ($T_F$) to degrees Celsius ($T_c$), using the formula:

$$
T_c = 5(T_f - 32)/9
$$

Computing the conversion from -100 F to 200 F in steps of 20 F (not including 200 F):

In [ ]:
print("T_f,    T_c")
for Tf in range(-100, 200, 20):
    print(Tf, (Tf - 32)*5/9)

T_f,    T_c
-100 -73.33333333333333
-80 -62.22222222222222
-60 -51.111111111111114
-40 -40.0
-20 -28.88888888888889
0 -17.77777777777778
20 -6.666666666666667
40 4.444444444444445
60 15.555555555555555
80 26.666666666666668
100 37.77777777777778
120 48.888888888888886
140 60.0
160 71.11111111111111
180 82.22222222222223

## `while` loops

We have seen that `for` loops perform an operation a specified number of times. A `while` loop performs a task while a specified statement is true. For example:

In [ ]:
print("Start of while statement")
x = -2
while x < 5:
    print(x)
    x += 1  # Increment x
print("End of while statement")

Start of while statement
-2
-1
0
1
2
3
4
End of while statement

The body of the `while` statement, which follows the `while` statement and is indented four spaces, is executed and repeated until `x < 5` is `False`.

It can be quite easy to crash your computer using a `while` loop. E.g.,
```python
x = -2
while x < 5:
    print(x)
```
will continue indefinitely since `x < 5 == False`  will never be satisfied. This is known as an *infinite loop*. It is usually good practice to add checks to avoid getting stuck in an infinite loop, e.g. specify a maximum number of permitted loops.

The above example could have been implemented using a `for` loop and a `for` loop would be preferred in this case. The following is an example of where a `while` is appropriate:

In [ ]:
x = .9
while x > 0.001:
    # Square x (we could have used the shorthand x *= x)
    x = x*x
    print(x)

0.81
0.6561000000000001
0.43046721000000016
0.18530201888518424
0.03433683820292518
0.001179018457773862
1.390084523771456e-06

since we might not know beforehand how many steps are required before `x > 0.001` becomes false. 

If $x \ge 1$, the above would lead to an infinite loop. To make a code robust, it would be good practice to check that $x < 1$ before entering the `while` loop.

## `break`, `continue` and `pass`

### `break`

Sometimes we want to break out of a `for` or `while` loop. Maybe in a `for` loop we can check if something is true, and then exit the loop prematurely, e.g.

In [ ]:
for x in range(10):
    print(x)
    if x == 5:
        print("Time to break out")
        break

0
1
2
3
4
5
Time to break out

Below is a program for finding prime numbers that uses a `break` statement. Take some time to understand what it does. It might be helpful to add some print statements to understand the flow.

In [ ]:
N = 50  # Check numbers up 50 for primes (excludes 50)

# Loop over all numbers from 2 to 50 (excluding 50)
for n in range(2, N):

    # Assume that n is prime
    n_is_prime = True

    # Check if n can be divided by m, where m ranges from 2 to n (excluding n)
    for m in range(2, n):
         if n % m == 0:  # This is true if the remainder for n/m is equal to zero
            # We've found that n is divisable by m, so it can't be a prime number. 
            # No need to check for more values of m, so set n_is_prime = False and
            # exit the 'm' loop.
            n_is_prime = False
            break

    #  If n is prime, print to screen        
    if n_is_prime:
        print(n)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

Try modifying the code for finding prime numbers such that it finds the first $N$ prime numbers (since you do not know how many numbers you need to check to find $N$ primes, use a `while` loop).

### `continue`

Sometimes we want to go prematurely to the next iteration in a loop, skipping the remaining code.
For this we use `continue`. Here is an example that loops over 20 numbers (0 to 19) and checks if the number is divisible by 4. If it is divisible by 4 it prints a message before moving to the next value. If it is not divisible by 4 it advances the loop.

In [ ]:
for j in range(20):
    if j % 4 == 0:  # Check remained of j/4
        continue  # jump to next iteration over j
    print("Number is not divisible by 4:", j)

Number is not divisible by 4: 1
Number is not divisible by 4: 2
Number is not divisible by 4: 3
Number is not divisible by 4: 5
Number is not divisible by 4: 6
Number is not divisible by 4: 7
Number is not divisible by 4: 9
Number is not divisible by 4: 10
Number is not divisible by 4: 11
Number is not divisible by 4: 13
Number is not divisible by 4: 14
Number is not divisible by 4: 15
Number is not divisible by 4: 17
Number is not divisible by 4: 18
Number is not divisible by 4: 19

### `pass`

Sometimes we need a statement that does nothing. It is often used during development where syntactically some code is required but which you have not yet written. For example:

In [ ]:
for x in range(10):
    if x < 5:
        # TODO: implement handling of x < 5 when other cases finished 
        pass
    elif x < 9:
        print(x*x)
    else:
        print(x)

25
36
49
64
9

It can also help readability. Maybe in a program there is nothing to be done, but someone reading the code might reasonably think that something should be done and suspect a bug. Using `pass` says to the reader that it was the programmer's intention that nothing should be done.

## Infinite loops: cause and guarding against

A common bug, especially when using `while` statements, is the [infinite loop](https://en.wikipedia.org/wiki/Infinite_loop). This is when a loop is entered but never terminates (exits).
Infinite loops can render a system unresponsive, sometimes requiring a shutdown to restore function.

It is good practice, espeically when learning, to add guards against infinite loops. For example,

In [ ]:
x = 0.0

counter = 0
while x < 0.05:

    # Guard against infinite loop
    counter += 1
    if counter > 2000:
        print("Loop count exceeded 2000. Exiting")
        break

Loop count exceeded 2000. Exiting

# **LISTS - iterating, manipulating and indexing**

## Iterating over lists

Looping over each item in a list (or more generally a sequence) is called *iterating*. We iterate over the members of the lab group using the syntax:

In [ ]:
lab_group0 = ["Sarah", "John", "Joe", "Emily", "Quang"]

In [ ]:
for member in lab_group0:
    print(member)

Sarah
John
Joe
Emily
Quang

Say we want to iterate over the names of the lab group members, and get the position
of each member in the list. We use `enumerate` for this:

In [ ]:
for n, member in enumerate(lab_group0):
    print(n, member)

0 Sarah
1 John
2 Joe
3 Emily
4 Quang

In the above, `n` is the position in the list and `member` is the $n$th entry in the list. Sometimes we need to know the position, in which case `enumerate` is helpful. However, when possible it is preferable to use a 'plain' iteration. Note that Python counts from zero - it uses zero-based indexing.

## Manipulating lists 

There are many functions for manipulating lists. It might be useful to sort the list:

In [ ]:
lab_group0.sort()
for member in lab_group0:
    print(member)

Emily
Joe
John
Quang
Sarah

In the above, `sort` is known as a 'method' of a `list`. It performs an *in-place* sort, i.e. `lab_group0` is sorted, rather than creating a new list with sorted entries (for the latter we would use `sorted(lab_group0)`, which returns a new list). More on methods later when we get to object-oriented design.

With lists we can add and remove students:

In [ ]:
# Remove the second student (indexing starts from 0, so 1 is the second element)
lab_group0.pop(1)
print(lab_group0)

# Add new student "Josephine" at the end of the list
lab_group0.append("Josephine")
print(lab_group0)

['Emily', 'John', 'Quang', 'Sarah']
['Emily', 'John', 'Quang', 'Sarah', 'Josephine']

or maybe join two groups to create one larger group:

In [ ]:
lab_group1 = ["Roger", "Rachel", "Amer", "Caroline", "Colin"]

lab_group = lab_group0 + lab_group1
print(lab_group)

['Emily', 'John', 'Quang', 'Sarah', 'Josephine', 'Roger', 'Rachel', 'Amer', 'Caroline', 'Colin']

or create a list of group lists:

In [ ]:
lab_groups = [lab_group0, lab_group1]
print(lab_groups)

print("---")

print("Print each lab group (name and members):")
for i, lab_group in enumerate(lab_groups):
    print(i, lab_group)

[['Emily', 'John', 'Quang', 'Sarah', 'Josephine'], ['Roger', 'Rachel', 'Amer', 'Caroline', 'Colin']]
---
Print each lab group (name and members):
0 ['Emily', 'John', 'Quang', 'Sarah', 'Josephine']
1 ['Roger', 'Rachel', 'Amer', 'Caroline', 'Colin']

## Indexing

Lists store data in order, so it is possible to 'index into' a list using an integer (this will be familiar to anyone who has used C), e.g.:

In [ ]:
first_member = lab_group0[0]
third_member = lab_group0[2]
print(first_member, third_member)

Emily Quang

or

In [ ]:
for i in range(len(lab_group0)):
    print(lab_group0[i])

Emily
John
Quang
Sarah
Josephine

Indices start from zero, and run through to (length - 1).

Indexing can be useful for numerical computations. We use it here to compute the dot product of two vectors:

In [ ]:
# Two vectors of length 4
x = [1.0, 3.5, 7.2, 8.9]
y = [-1.0, 27.1, 1.0, 6]

# Compute dot-product
dot_product = 0.0
for i in range(len(x)):
    dot_product += x[i]*y[i]

print(dot_product)

154.45000000000002

When possible, it is better to iterate over a list rather than use indexing, since there are data structures that support iterating but do not support indexing.

If we have a list-of-lists,

In [ ]:
lab_group0 = ["Sarah", "John", "Joe", "Emily"]
lab_group1 = ["Roger", "Rachel", "Amer", "Caroline", "Colin"]
lab_groups = [lab_group0, lab_group1]

we can use the first index to access a list, and a second index to access the entry in that list:

In [ ]:
group = lab_groups[0]
print(group)

name = lab_groups[1][2]
print(name)

['Sarah', 'John', 'Joe', 'Emily']
Amer

# **FUNCTIONS**

# Introduction

Functions are one of the most important concepts in computing.  Similar to mathematical functions, they take input data and return an output(s). Functions are ideal for repetitive tasks that perform a particular operation
on different input data and return a result. A simple function might take the coordinates of the vertices of a triangle and return the area. Any non-trivial program will use functions, and in many cases will have many functions.


## Objectives

- Introduce construction and use of user functions
- Returning from functions
- Default arguments
- Recursion

# What is a function?

Below is a Python function that takes two arguments (`a` and `b`), and returns `a + b + 1`:

In [ ]:
def sum_and_increment(a, b):
    """"Return the sum of a and b, plus 1"""
    return a + b + 1

# Call the function
m = sum_and_increment(3, 4)
print(m)  # Expect 8

# Call the function
m = 10
n = sum_and_increment(m, m)
print(n)  # Expect 21

8
21

In [ ]:
sum_and_increment (4,6)

11

Using the above example as a model, we can examine the anatomy of a Python function.

- A function is declared using `def`, followed by the function name, `sum_and_increment`, followed by the list 
  of arguments to be passed to the function between brackets, `(a, b)`, and ended with a colon:
  ```python
  def sum_and_increment(a, b):
  ```

- Next comes the body of the function. The first part of the body is indented four spaces. 
  Everything that makes 
  up  the body of the function is indented at least four spaces relative to `def`. 
  In Python, the first part of the body is an optional documentation string that describes in words what the   
  function does 
  ```python  
      "Return the sum of a and b, plus 1"
  ```

- It is good practice to include a 'docstring'.  What comes after the documentation string 
  is the code that the function executes. At the end of a function is usually a `return` statement; this defines   what
  result the function should return:
  ```python
      return a + b + 1
  ```
Anything indented to the same level (or less) as `def` falls outside of the function body.

Most functions will take arguments and return something, but this is not strictly required.
Below is an example of a function that does not take any arguments or return any variables.

In [ ]:
def print_message():
    print("The function 'print_message' has been called.")

print_message()

The function 'print_message' has been called.

# Purpose

Functions allow computer code to be re-used multiple times with different input data. It is good to re-use code as much as possible because we then focus testing and debugging efforts, and maybe also optimisations, on small pieces of code that are then re-used. The more code that is written, the less frequently sections of code are used, and as a consequence the greater the likelihood of errors.

Functions can also enhance the readability of a program, and make it easier to collaborate with others. Functions allow us to focus on *what* a program does at a high level 
rather than the details of *how* it does it. Low-level implementation details are *encapsulated* in functions. To understand at a high level what a program does, we usually just need to know what data is passed into a function and what the function returns. It is not necessary to know the precise details of how a function is implemented to grasp the structure of a program and how it works. For example, we might need to know that a function computes and returns $\sin(x)$; we don't usually need to know *how* it computes sine.

Below is a simple example of a function being 'called' numerous times from inside a `for` loop.

In [ ]:
def process_value(x):
    "Return a value that depends on the input value x "
    if x > 10:
        return 0
    elif x > 5:
        return x*x
    elif x > 0:
        return x**3
    else:
        return x

    
print("Case A: 3 values")    
for y in range(3):
    print(process_value(y))

print("Case B: 12 values")    
for y in range(12):
    print(process_value(y))

Case A: 3 values
0
1
8
Case B: 12 values
0
1
8
27
64
125
36
49
64
81
100
0

Using a function, we did not have to duplicate the `if-elif-else` statement inside each loop
we re-used it.
With a function we only have to change the way in which we process the number `x` in one place.

# Function arguments

The order in which function arguments are listed in the function declaration is in general the order in which arguments should be passed to a function. 

For the function `sum_and_increment` that was declared above, we could switch the order of the arguments and the result would not change because we are simply summing the input arguments. But, if we were to subtract one argument from the other, the result would depend on the input order:

In [ ]:
def subtract_and_increment(a, b):
    "Return a minus b, plus 1"
    return a - b + 1

alpha, beta = 3, 5  # This is short hand notation for alpha = 3
                    #                                 beta = 5

# Call the function and print the return value
print(subtract_and_increment(alpha, beta))  # Expect -1
print(subtract_and_increment(beta, alpha))  # Expect 3

-1
3

For more complicated functions we might have numerous arguments. Consequently, it becomes easier to get the wrong order by accident when calling the function (which results in a bug). In Python, we can reduce the likelihood of an error by using *named* arguments, in which case order will not matter, e.g.:

In [ ]:
print(subtract_and_increment(a=alpha, b=beta))  # Expect -1
print(subtract_and_increment(b=beta, a=alpha))  # Expect -1

-1
-1

Using named arguments can often enhance program readability and reduce errors.

## What can be passed as a function argument?

Many object types can be passed as arguments to functions, including other functions. Below
is a function, `is_positive`, that checks if the value of a function $f$ evaluated at $x$ is positive:

In [ ]:
def f0(x):
    "Compute x^2 - 1"
    return x*x - 1


def f1(x):
    "Compute -x^2 + 2x + 1"
    return -x*x + 2*x + 1


def is_positive(f, x):
    "Check if the function value f(x) is positive"

    # Evaluate the function passed into the function for the value of x 
    # passed into the function
    if f(x) > 0:
        return True
    else:
        return False

    
# Value of x for which we want to test a function sign
x = 2

# Test function f0
print(is_positive(f0, x))

# Test function f1
print(is_positive(f1, x))

True
True

## Default arguments

It can sometimes be helpful for functions to have 'default' argument values which can be overridden. In some cases it just saves the programmer effort - they can write less code. In other cases it can allow us to use a function for a wider range of problems. For example, we could use the same function for vectors of length 2 and 3 if the default value for the third component is zero.

As an example we consider the position $r$ of a particle with initial position $r_{0}$ and initial velocity $v_{0}$, and subject to an acceleration $a$. The position $r$ is given by:  

$$
r = r_0 + v_0 t + \frac{1}{2} a t^{2}
$$

Say for a particular application the acceleration is almost always due to gravity ($g$), and $g = 9.81$ m s$^{-1}$ is sufficiently accurate in most cases. Moreover, the initial velocity is usually zero. We might therefore implement a function as:

In [ ]:
def position(t, r0, v0=0.0, a=-9.81):
    "Compute position of an accelerating particle."
    return r0 + v0*t + 0.5*a*t*t

# Position after 0.2 s (t) when dropped from a height of 1 m (r0) 
# with v0=0.0 and a=-9.81
p = position(0.2, 1.0)
print(p)

0.8038

At the equator, the acceleration due to gravity is slightly less, and for a case where this difference is important we can call the function with the acceleration due to gravity at the equator:

In [ ]:
# Position after 0.2 s (t) when dropped from a height of  1 m (r0)
p = position(0.2, 1, 0.0, -9.78)
print(p)

0.8044

Note that we have also passed the initial velocity - otherwise the program might assume that our acceleration was in fact the velocity. We can use the default velocity and specify the acceleration by using named arguments:

In [ ]:
# Position after 0.2 s (t) when dropped from a height of  1 m (r0)
p = position(0.2, 1, a =-9.78)
print(p)

0.8044

# Return arguments

Most functions, but not all, return data. Above are examples that return a single value (object), and one case where there is no return value. Python functions can have more than one return value. For example, we could have a function that takes three values and returns the maximum, the minimum and the mean, e.g.

In [ ]:
def compute_max_min_mean(x0, x1, x2):
    "Return maximum, minimum and mean values"
    
    x_min = x0
    if x1 < x_min:
        x_min = x1
    if x2 < x_min:
        x_min = x2

    x_max = x0
    if x1 > x_max:
        x_max = x1
    if x2 > x_max:
        x_max = x2

    x_mean = (x0 + x1 + x2)/3    
        
    return x_min, x_max, x_mean


xmin, xmax, xmean = compute_max_min_mean(0.5, 0.1, -20)
print(xmin, xmax, xmean)

-20 0.5 -6.466666666666666

In [ ]:
compute_max_min_mean (7,60,3)

(3, 60, 23.333333333333332)

This function works, but we will see better ways to implement the functionality using lists or tuples 
in a later notebook.

# Scope

Functions have local scope, which means that variables that are declared inside a function are not visible outside the function. This is a very good thing - it means that we do not have to worry about variables declared inside a function unexpectedly affecting other parts of a program. Here is a simple example:

In [ ]:
# Assign 10.0 to the varibale a
a = 10.0

# A simple function that creates a variable 'a' and returns the value
def dummy():
    c = 5
    a = "A simple function"
    return a

# Call the function
b = dummy()

# Check that the function declaration of 'a' has not affected 
# the variable 'a' outside of the function
print(a)

# This would throw an error - the variable c is not visible outside of the function
# print(c)

print(a)

10.0
10.0

The variable `a` that is declared outside of the function is unaffected by what is done inside the function.
Similarly, the variable `c` in the function is not 'visible' outside of the function. 

There is more to scoping rules that we can skip over for now.

# Recursion with functions

A classic construction with functions is recursion, which is when a function makes calls to itself. 
Recursion can be very powerful, and sometimes also quite confusing at first. We demonstrate with a well-known example, the Fibonacci series of numbers.

## Fibonacci number

The Fibonacci series is defined recursively, i.e. the $n$th term $f_{n}$ is computed from the preceding terms $f_{n-1}$ and $f_{n-2}$:

$$
f_n = f_{n-1} + f_{n-2}
$$

for $n > 1$, and with $f_0 = 0$ and $f_1 = 1$.

Below is a function that computes the $n$th number in the Fibonacci sequence using a `for` loop inside the function.

In [ ]:
def fib(n):
    "Compute the nth Fibonacci number"
    # Starting values for f0 and f1
    f0, f1 = 0, 1

    # Handle cases n==0 and n==1
    if n == 0:
        return 0
    elif n == 1:
        return 1
    
    # Start loop (from n = 2)    
    for i in range(2, n + 1):
        # Compute next term in sequence
        f = f1 + f0

        # Update f0 and f1    
        f0 = f1
        f1 = f

    # Return Fibonacci number
    return f

print(fib(4))

3

Since the Fibonacci sequence has a recursive structure, with the $n$th term computed from the $n-1$ and $n-2$ terms, we could write a function that uses this recursive structure:

In [ ]:
def f(n): 
    "Compute the nth Fibonacci number using recursion"
    if n == 0:
        return 0  # This doesn't call f, so it breaks out of the recursion loop
    elif n == 1:
        return 1  # This doesn't call f, so it breaks out of the recursion loop
    else:
        return f(n - 1) + f(n - 2)  # This calls f for n-1 and n-2 (recursion), and returns the sum 

print(f(10))

55

As expected (if the implementations are correct) the two implementations return the same result.
The recursive version is simple and has a more 'mathematical' structure. It is good that a program which performs a mathematical task closely reflects the mathematical problem. It makes it easier to comprehend at a high level what the program does.

Care needs to be taken when using recursion that a program does not enter an infinite recursion loop. There must be a mechanism to 'break out' of the recursion cycle.

# Pass by  value, reference or object

*This section is for reference and should be skipped if you are new to programming. It is not necessary for this course but may be of interest 
to those with more experience.*

When passing something to a function, it is *passed by value*, *passed by reference*, or *passed by object*.
The model depends on the language.

Pass by value means that the version available inside the function is a copy of the value outside. 
A simple example is:

In [ ]:
def mult_by_two(a):
    a *= 2
    print("Value of variable \'a\' inside function:", a)
    
a = 5
mult_by_two(a)
print("Value of variable \'a\' post-function:", a)

Value of variable 'a' inside function: 10
Value of variable 'a' post-function: 5

Pass by reference means that the version passed into the function is modified, rather than a copy being made.

In [ ]:
a = [2, 3]
mult_by_two(a)
print("Value of variable \'a\' post-function:", a)

Value of variable 'a' inside function: [2, 3, 2, 3]
Value of variable 'a' post-function: [2, 3, 2, 3]

Python uses the pass-by-object model. The apparent behaviours depends on the details of the object being passed.
In many cases it is clearly to return objects.

# **LIBRARY**

# Introduction

A feature of modern programming languages is an extensive library of standard functions. This means that we can make use of standard, well-tested and optimised functions
for performing common tasks rather than writing our own. This makes our programs shorter and of higher quality, and in most cases faster.



## Objectives

- Introduce use of standard library functions
- Importing and using modules
- Introduction to namespaces

# The standard library

You have already used some standard library types and functions. In previous activities we have used built-in types like `string` and `float`, and the function `abs` for absolute value. We have made use of the standard library function `print` to display to the screen.

Python has a large standard library. To organise it, most functionality is arranged into 'modules', with each module providing a range of related functions. Before you program a function, check if there is a library function that can perform the task. The Python standard library is documented at https://docs.python.org/3/library/.
Search engines are a good way to find library functions, e.g. entering "Is there a Python function to compute the hyperbolic tangent of a complex number" into a search engine will take you to the function `cmath.tanh`. Try this link: http://bfy.tw/7aMc.

# Other libraries

The standard library tools are general purpose and will be available in any Python environment.
Specialised tools are usually made available in other libraries (modules). There is a huge range of Python libraries available for specialised problems. In the next weeks,we will start to use Numpy and Pandas libraries. Here you have the link to NumPy (http://www.numpy.org/), which is a specialised library for numerical computation. 
It provides much the same functionality as MATLAB. 

The simplest way to install a non-standard library is using the command `pip`. From the command line, the library NumPy is installed using:

    pip install numpy
    
and from inside a Jupyter notebook use:

    !pip install numpy

NumPy is so commonly used it is probably already installed on computers you will be using.
You will see `pip` being used in some later notebooks to install special-purpose tools.

When developing programs outside of learning exercises,
if there is a no standard library module for a problem you are trying to solve, 
search online for a module before implementing your own.

# Using library functions: `math` example

To use a function from a module we need to make it available in our program. 
This is called 'importing'. We have done this in previous notebooks with the `math` module, but without explanation. The process is explained below.

The `math` module (https://docs.python.org/3/library/math.html) provides a wide range of mathematical functions. For example, to compute the square root of a number, we do:

In [ ]:
import math

x = 2.0
x = math.sqrt(x)
print(x)

1.4142135623730951

Dissecting the above code block, the line 
```python
import math 
```
makes the math module available in our program. It is good style to put all `import` statements at the top of a file (or at the top of a cell when using a Jupyter notebook). 

The function call
```python
x = math.sqrt(x)
```    
says 'use the `sqrt` function from the `math` module to compute the square root'.

By prefixing `sqrt` with `math`, we are using a *namespace* (which in this case is `math`).
This makes clear precisely which `sqrt` function we want to use - there could be more than one `sqrt` function available.

> *Namespaces:* The prefix '`math`' indicates which '`sqrt`' function we want to use. This
might seem pedantic, but in practice there are often different algorithms for performing the same or similar  operation. They might vary in speed and accuracy. In some applications we might need an accurate (but slow)  method for computing the square root, while for other applications we might need speed with a compromise on accuracy. But, if two functions have the same name and are not distinguished by a name space, we have a *name clash*.

> In a large program, two developers might choose the same name for two functions that perform similar but slightly different tasks. If these functions are in different modules, there will be no name clash since the module name provides a 'namespace'  - a prefix that provides a distinction between the two functions. Namespaces are extremely helpful for multi-author programs. A weakness of older languages, like C and Fortran, is that they do not support namespaces. Most modern languages do support namespaces.  

We can import specific functions from a module, e.g. importing only the `sqrt` function:

In [1]:
from math import sqrt

x = 2.0
x = sqrt(x)
print(x)

1.4142135623730951

This way, we are importing (making available) only the `sqrt` function from the `math` module (the `math` module has a large number of functions).

We can even choose to re-name functions that we import:

In [2]:
from math import sqrt as some_math_function 

x = 2.0
x = some_math_function(x)
print(x)

1.4142135623730951

Renaming functions at import can be helpful to keep code short, and we will see below it can be useful for switching between different functions.
However the above choice of name is very poor practice - the name '`some_math_function`' is not descriptive.
Below is a more sensible example.

In [ ]:
import random
x = random.sample(range(0, 100), 10)
print(x)

[30, 9, 78, 59, 85, 81, 67, 97, 11, 91]

To create a sorted list, we used the built-in function `sorted`:

In [ ]:
y = sorted(x)
print(y)

[9, 11, 30, 59, 67, 78, 81, 85, 91, 97]

# String functions and string formatting

A standard function that we have used since the beginning is '`print`'. This function turns arguments into a string and displays the string to the screen. So far, we have only printed simple variables and relied mostly on the default conversions to a string for printing to the screen.

## Formatting

We can control how strings are formatted and displayed. Below is an example of inserting a string variable and a number variable into a string of characters:

In [ ]:
# Format a string with name and age
name = "Amber"
age = 19
text_string = "My name is {} and I am {} years old.".format(name, age)

# Print to screen 
print(text_string)

# Short-cut for printing without assignment
name = "Ashley"
age = 21
print("My name is {} and I am {} years old.".format(name, age))

My name is Amber and I am 19 years old.
My name is Ashley and I am 21 years old.

For floating-point numbers, we often want to control the formatting, and in particular the number of significant figures displayed. Using the display of $\pi$ as an example:

In [ ]:
# Import math module to get access to math.pi
import math

# Default formatting
print("The value of  using the default formatting is: {}".format(math.pi))

# Control number of significant figures in formatting
print("The value of  to 5 significant figures is: {:.5}".format(math.pi))
print("The value of  to 8 significant figures is: {:.8}".format(math.pi))
print("The value of  to 20 significant figures and using scientific notation is: {:.20e}".format(math.pi))

The value of  using the default formatting is: 3.141592653589793
The value of  to 5 significant figures is: 3.1416
The value of  to 8 significant figures is: 3.1415927
The value of  to 20 significant figures and using scientific notation is: 3.14159265358979311600e+00

There are many more ways in which float formatting can be controlled - search online if you want to format a float in a particular way.

# **In class exercise**

Question 1: Given two integer numbers return their product and  if the product is greater than 1000, then return their sum

Given:

number1 = 20

number2 = 30

Expected Output: The result is 600

Given:

number1 = 40

number2 = 30

Expected Output: The result is 70

# **Proposed Questions**

**Question 1: Given a list of numbers, Iterate it and print only those numbers which are divisible of 5**

Expected Output:

Given list is  [10, 20, 33, 46, 55]

Divisible of 5 in a list

10

20

55

**Question 2: Given a list of numbers, return True if first and last number of a list is same**

Expected Output:

Given list is  [10, 20, 30, 40, 10]

result is True

Given list is  [10, 20, 30, 40, 50]

result is False

**Question 3: Given a two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list**

Expected Output:

First List  [10, 20, 23, 11, 17]

Second List  [13, 43, 24, 36, 12]

result List is [23, 11, 17, 24, 36, 12]

**Question 4: Calculate income tax for the given income by adhering to the below rules**


For example, suppose that the taxable income is $45000 the income tax payable is

![image.png]()

Expected Output:

For example, suppose that the taxable income is $45000 the income tax payable is

10000 X 0% + 10000 X 10%  + $25000 X 20% = 6000